:root {
  /* Font */
  --main-font: 'Roboto', sans-serif;

  /* Font color */
  --main-txt-cl: #2c2c2c;
  --accent-green: #bbf330;
  --accent-yellow: #ffe550;
  --dark-green: #7eb101;

  /* Bcg color */
  --main-bcg-cl: #ffffff;

  /* Other */
}
