<section class="customers">
  <div class="container customers__container">
    <h2 class="customers__title">What our Customers Say</h2>
    <p class="customers__txt">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="customers__list">
      <li class="customers__items list">
        <ul class="customers__items-stars">
          <li class="customers__stars list">
            <svg class="customers__stars-item" width="17px" height="16px">
              <use href="./images/customers/star.svg#star"></use>
            </svg>
          </li>
          <li class="customers__stars list">
            <svg class="customers__stars-item" width="17px" height="16px">
              <use href="./images/customers/star.svg#star"></use>
            </svg>
          </li>
          <li class="customers__stars list">
            <svg class="customers__stars-item" width="17px" height="16px">
              <use href="./images/customers/star.svg#star"></use>
            </svg>
          </li>
          <li class="customers__stars list">
            <svg class="customers__stars-item" width="17px" height="16px">
              <use href="./images/customers/star.svg#star"></use>
            </svg>
          </li>
          <li class="customers__stars list">
            <svg class="customers__stars-item" width="17px" height="16px">
              <use href="./images/customers/star.svg#star"></use>
            </svg>
          </li>
        </ul>
        <p class="customers__quote">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="customers__user">
          <img
            class="customers__user-photo"
            src="./images/customers/user-1.png"
            alt="user-photo"
          />
          <div class="customers__user-titles">
            <h3 class="customers__user-name">Sumith Shah</h3>
            <p class="customers__user-item">Some Dude</p>
          </div>
        </div>
      </li>
      <li class="customers__items list">
        <ul class="customers__items-stars">
          <li class="customers__stars list">
            <svg class="customers__stars-item" width="17px" height="16px">
              <use href="./images/customers/star.svg#star"></use>
            </svg>
          </li>
          <li class="customers__stars list">
            <svg class="customers__stars-item" width="17px" height="16px">
              <use href="./images/customers/star.svg#star"></use>
            </svg>
          </li>
          <li class="customers__stars list">
            <svg class="customers__stars-item" width="17px" height="16px">
              <use href="./images/customers/star.svg#star"></use>
            </svg>
          </li>
          <li class="customers__stars list">
            <svg class="customers__stars-item" width="17px" height="16px">
              <use href="./images/customers/star.svg#star"></use>
            </svg>
          </li>
          <li class="customers__stars list">
            <svg class="customers__stars-item" width="17px" height="16px">
              <use href="./images/customers/star.svg#star"></use>
            </svg>
          </li>
        </ul>

        <p class="customers__quote">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="customers__user">
          <img
            class="customers__user-photo"
            src="./images/customers/user-2.png"
            alt="user-photo"
          />
          <div class="customers__user-titles">
            <h3 class="customers__user-name">Sumith Shah</h3>
            <p class="customers__user-item">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
