<section class="section favorites" id="menu">
  <div class="container">
    <h2 class="section-title">Some of Our Favorites</h2>
    <p class="favorites__txt">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list list">
      <li class="favorites__item">
        <a href="" class="favorites__link link"
          ><img
            class="favorites__img"
            srcset="
              ./images/favorites/img-1-223.png 223w,
              ./images/favorites/img-1-268.png 268w,
              ./images/favorites/img-1-315.png 315w,
              ./images/favorites/img-1-446.png 446w,
              ./images/favorites/img-1-536.png 536w,
              ./images/favorites/img-1-630.png 630w
            "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (max-width: 767px) 223px "
            src="./images/favorites/img-1-315.png"
            alt="Food photo"
            width="315"
            height="315"
        /></a>
      </li>
      <li class="favorites__item">
        <a href="" class="favorites__link link"
          ><img
            class="favorites__img"
            srcset="
              ./images/favorites/img-2-223.png 223w,
              ./images/favorites/img-2-268.png 268w,
              ./images/favorites/img-2-315.png 315w,
              ./images/favorites/img-2-446.png 446w,
              ./images/favorites/img-2-536.png 536w,
              ./images/favorites/img-2-630.png 630w
            "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (max-width: 767px) 223px "
            src="./images/favorites/img-2-315.png"
            alt="Food photo"
            width="315"
            height="315"
        /></a>
      </li>
      <li class="favorites__item">
        <a href="" class="favorites__link link"
          ><img
            class="favorites__img"
            srcset="
              ./images/favorites/img-3-223.png 223w,
              ./images/favorites/img-3-268.png 268w,
              ./images/favorites/img-3-315.png 315w,
              ./images/favorites/img-3-446.png 446w,
              ./images/favorites/img-3-536.png 536w,
              ./images/favorites/img-3-630.png 630w
            "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (max-width: 767px) 223px "
            src="./images/favorites/img-3-315.png"
            alt="Food photo"
            width="315"
            height="315"
        /></a>
      </li>
      <li class="favorites__item">
        <a href="" class="favorites__link link"
          ><img
            class="favorites__img"
            srcset="
              ./images/favorites/img-4-268.png 268w,
              ./images/favorites/img-4-315.png 315w,
              ./images/favorites/img-4-536.png 536w,
              ./images/favorites/img-4-630.png 630w
            "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px"
            src="./images/favorites/img-4-315.png"
            alt="Food photo"
            width="315"
            height="315"
        /></a>
      </li>
      <li class="favorites__item">
        <a href="" class="favorites__link link"
          ><img
            class="favorites__img"
            srcset="
              ./images/favorites/img-5-268.png 268w,
              ./images/favorites/img-5-315.png 315w,
              ./images/favorites/img-5-536.png 536w,
              ./images/favorites/img-5-630.png 630w
            "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px "
            src="./images/favorites/img-5-315.png"
            alt="Food photo"
            width="315"
            height="315"
        /></a>
      </li>
      <li class="favorites__item">
        <a href="" class="favorites__link link"
          ><img
            class="favorites__img"
            srcset="
              ./images/favorites/img-6-268.png 268w,
              ./images/favorites/img-6-315.png 315w,
              ./images/favorites/img-6-536.png 536w,
              ./images/favorites/img-6-630.png 630w
            "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px"
            src="./images/favorites/img-6-315.png"
            alt="Food photo"
            width="315"
            height="315"
        /></a>
      </li>
    </ul>
  </div>
</section>
