<footer class="footer section">
  <div class="container">
    <div class="footer-container">
      <nav class="nav-footer">
        <a href="" class="nav-footer__logo">
          <svg class="nav-footer__icon" width="66" height="52">
            <use href="./images/header/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="nav-footer-list list">
          <li class="nav-footer-list__item">
            <a class="nav-footer-list__link link" href="#home">Home</a>
          </li>
          <li class="nav-footer-list__item">
            <a class="nav-footer-list__link link" href="#hero">About</a>
          </li>
          <li class="nav-footer-list__item">
            <a class="nav-footer-list__link link" href="#service">Service</a>
          </li>
          <li class="nav-footer-list__item">
            <a class="nav-footer-list__link link" href="#menu">Menu</a>
          </li>
          <li class="nav-footer-list__item">
            <a class="nav-footer-list__link link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
      <!-- footer form -->
      <form class="footer-form">
        <h4 class="footer-form__text">Subscribe</h4>
        <span class="footer-wrp">
          <label class="footer-label">
            <input
              class="form__input-footer"
              type="email"
              placeholder="Enter your email"
              required
            />
            <span class="eror__group">
              <svg class="form__icon" width="12" height="12">
                <use class="icon__eror"  href="./images/subscribe/icon-eror.svg#eror"></use>
              </svg>
              <span class="form__notfication"
                >Not a valid email address (example@email.com)</span
              >
            </span>
          </label>
          <button class="footer-btn" type="submit">Subscribe</button>
        </span>
        <span class="subscribe"> By subscribing you agree to with our</span>
        <a class="subscribe__link" href="">Privacy Policy</a>
      </form>
    </div>
    <div class="food-sta">
      <ul class="policy list">
        <li><a class="subscribe__link" href="">Privacy Policy</a></li>
        <li><a class="subscribe__link" href="">Terms of Service</a></li>
        <li><a class="subscribe__link" href="">Cookies Settings</a></li>
      </ul>
      <p class="food">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
