<header class="header">
  <div id="home" class="header-container container">
    <nav class="nav">
      <a href="" class="nav__logo">
        <svg class="nav__icon" width="66" height="52">
          <use href="./images/header/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="nav-list list">
        <li class="nav-list__item">
          <a class="nav-list__link link" href="#home">Home</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link link" href="#hero">About</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link link" href="#service">Service</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link link" href="#menu">Menu</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="button-header" type="submit">Order Now</button>
    <!-- Mobile menu -->
    <button
      class="button-menu"
      type="button"
      aria-label="menu-open"
      data-menu-open
    >
      <svg class="button-menu__icon" width="28" height="28">
        <use href="./images/header/icons.svg#icon-gg_menu"></use>
      </svg>
    </button>

    <div class="mobile-container" data-menu>
      <nav class="mobile-nav">
        <ul class="mobile-list">
          <li class="mobile-list__item list">
            <a class="mobile-list__link link" href="#home">Home</a>
          </li>
          <li class="mobile-list__item list">
            <a class="mobile-list__link link" href="#hero">About</a>
          </li>
          <li class="mobile-list__item list">
            <a class="mobile-list__link link" href="#service">Service</a>
          </li>
          <li class="mobile-list__item list">
            <a class="mobile-list__link link" href="#menu">Menu</a>
          </li>
          <li class="mobile-list__item list">
            <a class="mobile-list__link link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<script src="/js/menu.js"></script>
