<section class="hero section" id="hero">
  <div class="hero container">
    <div class="hero__box">
      <h1 class="hero section-title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button type="button" class="btn">Order Now</button>
    </div>

    <div class="hero__pic-box">
      <div class="slider">
        <div class="slider-line">
          <img
            class="hero__img"
            srcset="
              ./images/hero/hero_img_292px_1x.png  292w,
              ./images/hero/hero_img_292px_2x.png  584w,
              ./images/hero/hero_img_528px_1x.png  528w,
              ./images/hero/hero_img_528px_2x.png 1056w
            "
            sizes="(min-width: 1280px) 580px, (min-width: 768px) 320px, 0 "
            src="./images/hero/hero_img_528px_1x.png"
            alt="Meal Picture"
            width="580"
            height="580"
          />

          <img
            class="hero__img"
            srcset="
              ./images/hero/hero_img2_292_1x.png  292w,
              ./images/hero/hero_img2_292_2x.png  584w,
              ./images/hero/hero_img2_528_1x.png  528w,
              ./images/hero/hero_img2_528_2x.png 1056w
            "
            sizes="(min-width: 1280px) 580px, (min-width: 768px) 320px, 0 "
            src="./images/hero/hero_img2_528_1x.png"
            alt="Meal Picture"
            width="580"
            height="580"
          />

          <img
            class="hero__img"
            srcset="
              ./images/hero/hero_img3_292_1x.png  292w,
              ./images/hero/hero_img3_292_2x.png  584w,
              ./images/hero/hero_img3_528_1x.png  528w,
              ./images/hero/hero_img3_528_2x.png 1056w
            "
            sizes="(min-width: 1280px) 580px, (min-width: 768px) 320px, 0 "
            src="./images/hero/hero_img3_528_1x.png"
            alt="Meal Picture"
            width="580"
            height="580"
          />
        </div>
      </div>

      <button class="hero__btn--right button slider-next">
        <svg class="hero__icon--right" width="16" height="29">
          <use href="./images/hero/icons_hero.svg#arrow-right"></use>
        </svg>
      </button>
      <button class="hero__btn--left button slider-prev">
        <svg class="hero__icon--left" width="16" height="29">
          <use href="./images/hero/icons_hero.svg#arrow-left"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
