<section class="section offerings" id="service">
  <div class="container offerings__position">
    <div class="offerings__img">
      <img
        class="offerings__img-desktop"
        src="./images/offerings/apple-desktop-550.png"
        srcset="
          ./images/offerings/apple-mobile-280.png    280w,
          ./images/offerings/apple-desktop-550.png   550w,
          ./images/offerings/apple-mobile-560.png    560w,
          ./images/offerings/apple-desktop-1100.png 1100w
        "
        sizes="(min-width: 1280px) 560px, (max-width: 767px) 280px "
        alt="green apple"
      />
      <img
        class="offerings__img-tablet"
        src="./images/offerings/apple-tablet-704.png"
        srcset="
          ./images/offerings/apple-tablet-704.png   704w,
          ./images/offerings/apple-tablet-1408.png 1408w
        "
        sizes="704px"
        alt="green apples"
      />
    </div>
    <div>
      <h2 class="section-title offerings__title">
        What’s Special About Our Offerings
      </h2>
      <p class="offerings__bigdesk">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <ul class="list offerings__list">
        <li class="offerings__item">
          <div class="offerings__icon-block">
            <svg class="offerings__icon" width="32" height="32">
              <use href="./images/offerings/icon.svg#icon-rocket"></use>
            </svg>
          </div>
          <h3 class="offerings__subtitle">Fasest Delivery</h3>
          <p class="offerings__desk">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="offerings__item">
          <div class="offerings__icon-block">
            <svg class="offerings__icon" width="32" height="32">
              <use href="./images/offerings/icon.svg#icon-touch"></use>
            </svg>
          </div>
          <h3 class="offerings__subtitle">Easy to order</h3>
          <p class="offerings__desk">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <div class="offerings__services">
        <button class="btn" type="submit">Order Now</button>
        <a class="link offerings__link" href="">
          <span class="offerings__link-name">Read More</span>
          <svg class="offerings__link-icon" width="14" height="14">
            <use href="./images/offerings/icon.svg#icon-Vector"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
