<section class="section subscribe__section" id="contact">
  <div class="container container__subscribe">
    <div class="subscribe__content">
      <h2 class="section-title subscribe__title">
        Subscribe To Get Special Offers
      </h2>
      <p class="subscribe__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
      <form class="subscribe__form">
        <label class="form__group">
          <input
            class="form__input"
            type="email"
            placeholder="Enter your email"
            required
          />
          <span class="eror__group">
            <svg class="form__icon" width="12" height="12">
              <use
                class="icon__eror"
                href="./images/subscribe/icon-eror.svg#eror"
              ></use>
            </svg>
            <span class="form__notfication"
              >Not a valid email address (example@email.com)</span
            >
          </span>
        </label>
        <button class="subscribe__btn" type="submit">Subscribe</button>
      </form>
    </div>
    <div class="subscribe__img">
      <img
        srcset="
          ./images/subscribe/banan-161.png   161w,
          ./images/subscribe/banan-322.png   322w,
          ./images/subscribe/banan-281.png   281w,
          ./images/subscribe/banan-562.png   562w,
          ./images/subscribe/banan-546.png   546w,
          ./images/subscribe/banan-1092.png 1092w
        "
        sizes="(min-width: 1280px) 546px, (min-width: 768px) 281px, (min-width: 480px) 161px"
        src="./images/subscribe/banan-546.png"
        alt="банан"
        width="546"
      />
    </div>
  </div>
</section>
