<section class="offerings">
  <div class="conteiner">
    <img
      class="offerings__img-desktop"
      src="./images/apple-desktop@1x.png"
      srcset="
        ./images/apple-desktop@1x.png 1x,
        ./images/apple-desktop@2x.png 2x
      "
      alt="green apple"
      width="550px"
    />
    <img
      class="offerings__img-tablet"
      src="./images/apple-tablet@1x.png"
      srcset="./images/apple-tablet@1x.png 1x, ./images/apple-tablet@2x.png 2x"
      alt="green apple"
      width="100%"
    />
    <img
      class="offerings__img-mobile"
      src="./images/apple-mobile@1x.png"
      srcset="./images/apple-mobile@1x.png 1x, ./images/apple-mobile@2x.png 2x"
      alt="green apple"
      width="280px"
    />
    <h2 class="offerings__title">What’s Special About Our Offerings</h2>
    <p class="offerings__desk">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <h3 class="offerings__subtitle">Fasest Delivery</h3>
    <p class="offerings__desk">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros.
    </p>
    <h3 class="offerings__subtitle">Easy to order</h3>
    <p class="offerings__desk">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros.
    </p>
    <button class="btn" type="submit">Order Now</button>
    <a class="offerings__link" href=""
      >Read More
      <svg
        aria-hidden="true"
        style="position: absolute; width: 14px; height: 14px; overflow: hidden"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <defs>
          <symbol id="icon-Vector" viewBox="0 0 19 32">
            <path
              d="M17.903 15.592c0.494 0.494 0.494 1.294 0 1.788l-12.888 12.888c-0.494 0.494-1.294 0.494-1.788 0l-0.596-0.596c-0.494-0.494-0.494-1.294 0-1.788l11.399-11.398-11.399-11.399c-0.494-0.494-0.494-1.294 0-1.788l0.596-0.596c0.494-0.494 1.294-0.494 1.788 0l12.888 12.888z"
            ></path>
          </symbol>
        </defs>
      </svg>
    </a>
  </div>
</section>
